.announcements {
  .posts {
    .post-item {
      padding: 15px;
      margin-bottom: 1em;
      border-radius: 5px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      .post-heading {
        font-size: 20px;
        font-weight: bold;
        color: #222;
        margin: 0 0 10px;
      }
      .post-content {
        margin: 0 0 10px;
      }
      .post-meta {
        color: #999;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

#announcements {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  .wrapper {
    background: #E2E2CC;
    padding: 15px 30px;
    border-radius: 5px;
    color: #89897C;
    font-size: 16px;
    display: inline-block;
    a {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}